@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.11/signalr.js"></script>
<script>
    const conexion = new signalR.HubConnectionBuilder().withUrl("/WebSocketServer").build();
    conexion.start().then(function(e) {
        console.log("Conexion exitosa"); 
    }).catch(() =>{
        console.error("Error al conectarse al servidor de websockets");
    })
</script>